<div ng-controller="TextareaController" id="textarea">
  <textarea swarachakra-timeout-change="save()" ng-model="content" autofocus tabindex="-1" readonly="false">
  </textarea>
  <input type="checkbox" id="togglephysicalkeyboard" ng-checked="togglephysicalkeyboard" />
  <label for="togglephysicalkeyboard">Toggle Keyboard</label>
</div>
<div 
  ng-controller="KeyboardController"
  id="keyboard"
  ng-init="frame2 = false; frame1 = true">
<!-- The Keyboard Container -->
  <div id="keyboardcontainer">
    <div class="header">
      <strong class="languagename">Language: <span>{{ currentlanguage }}</span></strong>
      <div class="toggler">
        <i class="fa fa-angle-down"></i>
      </div>
    </div>
    <div>
      <!-- First Column should be here. 1x5-->
      <div class="firstcolumn frame1">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td ng-click="sharetext('.')"><span>.</span></td>
            </tr>
            <tr>
              <td ng-click="sharetext(',')"><span>,</span></td>
            </tr>
            <tr>
              <td ng-click="sharetext('!')"><span>!</span></td>
            </tr>
            <tr>
              <td ng-click="sharetext('?')"><span>?</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- First 5x5 table for the Swarachakra keys. 5x5-->
      <div class="maintable1 frame1" ng-show="frame1">
        <table>
          <thead></thead>
          <tbody>
            <tr ng-repeat="data in onscreen | limitTo: 4">
              <td ng-repeat="row in data" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Second 5x5 table for the Swarachakra keys. 5x5-->
      <div class="maintable2 frame1" ng-show="frame1">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td ng-repeat="row in onscreen[4]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)" ng-click="share(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[5]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[6]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[7]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}"ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Third 5x5 table for the Swarachakra keys. 5x5, opens on shift selection-->
      <div class="maintable1 frame2" ng-show="frame2">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td ng-repeat="row in onscreen[8]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[8]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[9]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[10]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}"ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Third 5x5 table for the Swarachakra keys. 5x5, opens on shift selection-->
      <div class="maintable2 frame2" ng-show="frame2">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td ng-repeat="row in onscreen[11]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[12]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[13]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
            <tr>
              <td ng-repeat="row in onscreen[14]" data-keycode="{{ row.keycode }}" data-chakra="{{ row.chakra }}" ng-mousedown="displaychakra(row.keycode, row.unicode, $event)" ng-mouseup="hidechakra()" ng-click="sharetext(row.unicode)">
                <span>{{ row.unicode }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Last Column should be here. 1x5 -->
      <div class="lastcolumn frame1">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td ng-click="delete()"><span><i class="fa fa-remove"></i></span></td>
            </tr>
            <tr>
              <td><span>dd</span></td>
            </tr>
            <tr>
              <td><span>dd</span></td>
            </tr>
            <tr>
              <td><span>dd</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Last row should be here.5x1 -->
      <div class="lastrow">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td ng-click="frame1 = !frame1; frame2 = !frame2">
                <span>
                  <i class="fa fa-arrow-up"></i>
                 </span>
              </td>
              <td>
                <span>
                  <strong>LS</strong> <!-- Need Better Icons for switching Languages -->
                </span>
              </td>
              <td><span>aa</span></td>
              <td id="spacebar" ng-click="sharetext(' ')">
                <span></span>
              </td>
              <td><span>aa</span></td>
              <td><span>aa</span></td>
              <td><span>aa</span></td>
              <td><span>aa</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--<div class="options">
      <strong>Available Languages</strong>
      <ul>
        <li>
          <input type="radio" name="languagetype" value="male">
          <label for="languagetype">Hindi</label>
        </li>
        <li>
          <input type="radio" name="languagetype" value="male">
          <label for="languagetype">Telagu</label>
        </li>
        <li>
          <input type="radio" name="languagetype" value="male">
          <label for="languagetype">Malayalam</label>
        </li>
      </ul>
      <button class="btn-primary btn languageswitch" ng-click="switch(language.id)">
        <i class="fa fa-refresh"></i><span>Refresh</span>
      </button>
    </div>
    -->
  </div>
  <div id="chakra" ng-mouseup="hidechakra()">
      <ul>
        <li class="first">
          <span>a</span>
        </li>
        <li class="second">
          <span>b</span>
        </li>
        <li class="third">
          <span>c</span>
        </li>
        <li class="fourth">
          <span>d</span>
        </li>
        <li class="fifth">
          <span>e</span>
        </li>
        <li class="sixth">
          <span>f</span>
        </li>
        <li class="seventh">
          <span>g</span>
        </li>
        <li class="eigth">
          <span>h</span>
        </li>
        <li class="ninth">
          <span>i</span>
        </li>
        <li class="tenth">
          <span>j</span>
        </li>
      </ul>
      <div id="innerchakra">
        <h6>{{ currentkey }}</h6>
      </div>
    </div>
</div>