<div ng-controller="TextareaController" id="textarea">
  <!--<textarea swarachakra-timeout-change="save()" ng-model="content" autofocus tabindex="-1">
  </textarea>-->
</div>
<div ng-controller="KeyboardController" id="keyboard">
  <table>
  	<tbody>
  		<tr ng-repeat="language in langauges.csv">
  			<td>{{ langauge }}</td>
  		</tr>
  	</tbody>
  </table>
</div>