<div ng-controller="HomeController">
	<h1>Home of Swarachakra</h1>
	<h3>TODO</h3>
	<ul>
		<li>The textfield</li>
		<li>The Keyboard</li>
		<li>Other features for the home page</li>
		<li>URIs for the admins</li>
	</ul>
</div>