// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signupform {
	form {
		label {
			text-align: right;
			float: left;
		}
		input[type="text"],input[type="password"], input[type="email"] {
			float:right;
		}
	}
}

#textarea {

	textarea {
		width: 100%;
		height: 50%;
		min-height: 200px;
		top: 50px;
		border: 0;
		outline: 0;
		resize: none;
		border-bottom:1px dashed #ccc;
	}
}

#keyboardcontainer {
	max-width:564px;
	min-width:564px;
	max-height:600px;
	position:absolute;
	bottom:0px;
	left:100px;
	right:100px;
	margin:0 auto;
	overflow:hidden;
	background:#eee;
	.header {
		float:left;
		width:100%;
		height: 36px;
		vertical-align: middle;
		padding: 8px;
		margin-bottom: 5px;
		background:#333;
		color:#fefefe;
		cursor: pointer;
		.toggler {
			float:right;
		}
		&:hover {
			background: #555;
		}
	}
	.options {
		float:left;
		ul {
			list-style:none outside none;
			li {
				label {
					font-weight:normal;
				}
			}
		}
		.languageswitch {
			span {
				margin-left:5px;
			}
		}
	}
	.firstcolumn {
		margin-left:2px;
	}
	.lastcolumn, .firstcolumn {
		width:48px;
	}
	.maintable1, .maintable2 {
		width:232px;
	}
	.maintable1, .maintable2, .lastcolumn, .firstcolumn {
		margin-left:1px;
		table {
			border-right:1px solid #111;
		}
	}
	.maintable1, .maintable2, .lastcolumn, .firstcolumn, .lastrow {
		float:left;
		table {
			margin:0 auto;
			text-align: center;
			tbody {
				tr {
					td {
						width:46px !important;
						height:50px !important;
						padding:15px;
						text-align: center;
						&:hover {
							background: #ccc;
							cursor:pointer;
						}
						span {
							z-index: 10;
						}
					}
					&:nth-child(2n+1) {
						background:#ddd;
					}
					&:nth-child(2n) {
						background:#eee;
					}
				}
			}
		}
	}
	.lastrow {
		margin-top: -5px;
		float: left;
		margin-left: 1px;
		border-right:1px solid #111;
		#spacebar {
			width:240px !important;
		}
	}
	table {
		display:inline-block;
	}
}

#chakra {
	z-index: 8;
	position: absolute;
	width: 125px;
	height: 125px;
	background: #666;
	color: #efefef;
	border-radius: 50%;
	cursor: pointer;
	#innerchakra {
		text-align: center;
		left: 38px;
		top: 38px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #eee;
		z-index: 5;
		h6 {
			color: #333;
			margin:16px;
			font-weight: 700;
		}
	}
	ul {
		list-style:none outside none;
		li {
			position:absolute;
			&:first-child {
				margin-top: 8px;
				margin-left: 20px;
			}
			&:nth-child(2) {
				top: 15px;
				margin-left: 45px;
			}
			&:nth-child(3) {
				top: 35px;
				margin-left: 60px;
			}
			&:nth-child(4) {
				top: 65px;
				margin-left: 60px;
			}
			&:nth-child(5) {
				top: 85px;
				margin-left: 48px;
			}
			&:nth-child(6) {
				top: 100px;
				margin-left: 20px;
			}
			&:nth-child(7) {
				top: 85px;
				margin-left: -8px;
			}
			&:nth-child(8) {
				top: 65px;
				margin-left: -25px;
			}
			&:nth-child(9) {
				top: 35px;
				margin-left: -25px;
			}
			&:nth-child(10) {
				top: 15px;
				margin-left: -5px;
			}
			span {
				&:active {
					color:#333;
				}
			}
		}
	}
}